<div class="menu-clothes">
  <div><a class="menu-clothes1">Костюми</a></div>
  <div><a class="menu-clothes2">Верхній одяг</a></div>
  <div><a class="menu-clothes3"> Юбки</a></div>
  <div><a class="menu-clothes4">Сукні</a></div>
</div>
<div class="clothes-page">
  <div class="heroes-menu">
    <div class=ImgField>
      <a *ngFor="let clothes of wardrobe"
         routerLink="/detail/{{clothes.id}}">
        <div>
          <img class="image first" src="{{clothes.image}}" alt="photo">
          <img class="image second" src="" alt="photo">
        </div>
        {{clothes.title}}
        <br>
        {{clothes.price}}
      </a>
    </div>
  </div>
</div>

