<div class="topmenu">
  <div><button class="down">Колекції</button>
    <ul class="submenu">
      <li><a href="">Spring-Summer 22</a></li>
      <li><a href="">FALL-WINTER 21/22</a></li>
      <li><a href="">SPRING-SUMMER 2021</a></li>
      <li><a href="">FALL-WINTER 20/21</a></li>
    </ul>
  </div>

</div>
<div class="topmenu-mobile">
  <div><button class="down-mobile">Колекції</button>
    <div class="menusub"></div>
    <ul class="submenu-mobile">
      <li><a href="">Spring-Summer 22</a></li>
      <li><a href="">FALL-WINTER 21/22</a></li>
      <li><a href="">SPRING-SUMMER 2021</a></li>
      <li><a href="">FALL-WINTER 20/21</a></li>
    </ul>
  </div>

</div>

