<div class="top-menu">
  <div>
    <button class="down">Колекції</button>
    <form >
      <ul class="sub-menu">
        <li *ngFor="let choice of collection " [value]="choice">
          <button  type="button" (click)="searchProduct(choice.title)">
           {{choice.title}}
          </button>
        </li>

      </ul>


    </form>


  </div>

</div>


<div class="top-menu__mobile">
  <div>
    <button class="down-mobile">Колекції</button>
    <div class="menu-sub"></div>
    <ul class="submenu-mobile">
      <li *ngFor="let choice of collection " [value]="choice">
        <button  type="button" (click)="searchProduct(choice.title)">
          {{choice.title}}
        </button>
      </li>

    </ul>
  </div>
</div>

