.down {
  margin-left: 10px;
  border: none;
  background-color: white;
}

.sub-menu a {
  font-size: 13px
}

a {
  text-decoration: none;
  display: block;
  transition: .3s linear;
}



li button {
  color: #222;
  padding: 3% 0;
  border: none;
}

.top-menu > div {
  display: inline-block;
  position: relative;
}

.top-menu > div > .down:before {
  content: "";
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 130%;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  transform: translate(-50%, 20px);
  opacity: 0;
  transition: .3s;
}

.top-menu div:hover .down:before {
  transform: translate(-50%, 0);
  opacity: 1;
}

.sub-menu {
  list-style: none;
  padding: 15% 0;
  position: absolute;
  z-index: 4;
  left: 50%;
  top: 130%;
  width: 200px;
  margin-top: 5px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, .2);
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, 20px);
  transition: .3s;
}

.top-menu > div:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
}

.sub-menu a:hover {
  background: #e8e8e8;
}

.top-menu__mobile {
  display: none;
}

@media screen and (max-width: 800px) {
  .top-menu {
    display: none;
  }

  .top-menu__mobile {
    display: flex;
  }

  .submenu-mobile {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    list-style: none;
    padding-bottom: 10px;
  }

  .top-menu__mobile > div:hover .submenu-mobile {
    visibility: visible;
    opacity: 1;
    position: relative;
    transition-duration: 0.3s;
  }

  .down-mobile {
    padding-left: 23px;
    padding-right: 5px;
    padding-bottom: 5%;
    border: none;
    background-color: white;
  }

  .menu-sub {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 6px;

  }

  .menu-sub:after {
    content: "";
    border-style: solid;
    border-width: 4px 3px 0 3px;
    position: absolute;
    left: 0;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-color: transparent transparent transparent transparent;
    border-top-color: inherit;
  }

  .submenu-mobile:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 150px;
    background: #aaaaaa;
  }
}
