<div class="about-page">
  <div >
    <p class="about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ut auctor lorem. Vivamus dignissim diam urna,
      scelerisque tempor neque consequat sit amet. Mauris sit amet arcu scelerisque, congue ligula pulvinar, ornare ex.
      Quisque efficitur eu odio ac varius. Donec at lorem eu lectus pharetra congue non et diam. Nullam rutrum, orci
      quis mattis sollicitudin, nisl sem mollis ex, ut viverra felis quam sed neque. Fusce eros ante, sagittis sed
      tellus id, suscipit laoreet nunc.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ut auctor lorem.
      Vivamus dignissim diam urna, scelerisque tempor neque consequat sit amet. Mauris sit amet arcu scelerisque, congue
      ligula pulvinar, ornare ex. Quisque efficitur eu odio ac varius. Donec at lorem eu lectus pharetra congue non et
      diam. Nullam rutrum, orci quis mattis sollicitudin, nisl sem mollis ex, ut viverra felis quam sed neque. Fusce
      eros ante, sagittis sed tellus id, suscipit laoreet nunc.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Etiam ut auctor lorem. Vivamus dignissim diam urna, scelerisque tempor neque consequat sit amet. Mauris sit amet
      arcu scelerisque, congue ligula pulvinar, ornare ex. Quisque efficitur eu odio ac varius. Donec at lorem eu lectus
      pharetra congue non et diam. Nullam rutrum, orci quis mattis sollicitudin, nisl sem mollis ex, ut viverra felis
      quam sed neque. Fusce eros ante, sagittis sed tellus id, suscipit laoreet nunc.Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Etiam ut auctor lorem. Vivamus dignissim diam urna, scelerisque tempor neque
      consequat sit amet. Mauris sit amet arcu scelerisque, congue ligula pulvinar, ornare ex. Quisque efficitur eu odio
      ac varius. Donec at lorem eu lectus pharetra congue non et diam. Nullam rutrum, orci quis mattis sollicitudin,
      nisl sem mollis ex, ut viverra felis quam sed neque. Fusce eros ante, sagittis sed tellus id, suscipit laoreet
      nunc.Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
      literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
      College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and
      going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes
      from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero,
      written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first
      line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.


    </p>
  </div>
  <div>
    <img src="assets/photo-about.jpg">
  </div>
</div>
