
<div>

  <label mat-button class="btn"  for="modal-1" *ngIf="!isAuthenticated">
    Login</label>
  <label mat-button *ngIf="isAuthenticated" (click)="logout()">
    Logout</label>
</div>

<input class="modal-state" id="modal-1" type="checkbox" />
<div class="modal">
  <label class="modal__bg" for="modal-1"></label>

    <form novalidate #loginForm="ngForm" >
    <label class="modal__close" for="modal-1"></label>
      <div class="mb-3">
        <label for="login_userName" class="form-label">User Name</label>
        <input type="text"
               class="form-control"
               id="login_UserName"
               name="userName"
               [(ngModel)]="username"
               [ngClass]="{'invalid-input': (usrName.dirty ||
                      usrName.touched) && usrName.errors?.['required']}"
               required
               #usrName="ngModel" />
        <span class="badge bg-danger"
              *ngIf="(usrName.dirty || usrName.touched) &&
                     usrName.errors?.['required']">Required</span>
      </div>
      <div class="mb-3">
        <label for="login_userPass" class="form-label">Password</label>
        <input type="password"
               class="form-control"
               id="login_userPass"
               name="userPass"
               [(ngModel)]="password"
               [ngClass]="{'invalid-input': (usrPass.dirty ||
                      usrPass.touched) && usrPass.errors?.['required']}"
               required
               #usrPass="ngModel" />
        <span class="badge bg-danger"
              *ngIf="(usrPass.dirty || usrPass.touched) &&
                     usrPass.errors?.['required']">Required</span>
      </div>
      <div class="row">
        <div class="col">
          <button type="submit"
                  class="btn btn-primary form-control"
                 >Login</button>
        </div>
        <div class="col">
          <button type="clear"
                  class="btn btn-default form-control"
                  >Clear</button>
        </div>
      </div>
    </form>

  </div>


