<div class="computer-relevants">
  <div style="padding: 5% 0">Вам також може сподобатись</div>
  <div class="choice">
    <a *ngFor="let clothes of wardrobe"
       href="http://localhost:4200/shop/detail/{{clothes.id}}">
      <div class="carousel-relevants" routerLink="/detail/{{clothes.id}}">
        <img class="image first" src="{{clothes.img[0]}}" alt="photo">
        <img class="image second" src="{{clothes.img[1]}}" alt="photo">
      </div>
      <div class="text">
        {{clothes.name}}
        <br>
        <br>
        {{clothes.price}}
      </div>
    </a>
  </div>
</div>
<div class="mobile-relevants">
  <div style="padding: 5% 0"><p>Вам також може сподобатись</p></div>
  <div class="parent">
    <div class='child'><a href="http://localhost:4200/shop/detail/1"><img src='./assets/photo-dress/photo1.jpg'
                                                                          class="photo-relevants-slider">
      <p> Женственное платье
        <br>
        5000 ₴</p></a>
    </div>
    <div class='child'><a href="http://localhost:4200/shop/detail/2"><img src='./assets/photo-dress/photo2.jpg'
                                                                          class="photo-relevants-slider">
      <p>
        Платье -бюстье
        <br>
        6000 ₴
      </p></a>
    </div>
    <div class='child'><a href="http://localhost:4200/shop/detail/3"><img src='./assets/photo-dress/photo3.jpg'
                                                                          class="photo-relevants-slider">
      <p>Костюм топ с юбкой
        <br>
        7000 ₴</p></a>
    </div>
    <div class='child'><a href="http://localhost:4200/shop/detail/4"><img src='./assets/photo-dress/photo4.jpg'
                                                                          class="photo-relevants-slider">
      <p>Платье с шёлком
        <br>
        8000 ₴
      </p></a>
    </div>
  </div>
</div>
