<div class="computer-relevants">
  <div style="padding: 5% 0">{{"may-like"| transloco}}</div>
  <div class="choice" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <a *ngFor="let cloth of clothes"
       routerLink="/detail/{{cloth.id}}"
       >
      <div class="carousel-relevants" >
        <img class="image first" src="{{cloth.image[0].title}}" alt="photo">
        <img class="image second" src="{{cloth.image[1].title}}" alt="photo">
      </div>
      <div class="text">
        {{cloth.productInformation[index].title}}
        <br>
        <br>
        {{cloth.price}}
      </div>
    </a>
  </div>
</div>
<div class="mobile-relevants">
  <div style="padding: 5% 0"><p>{{"may-like"| transloco}}</p></div>
  <div class="parent">
    <div class='child' *ngFor="let cloth of clothes"><a href="/shop/detail/{{cloth.id}}"><img src='{{cloth.image[0].title}}'
                                                                          class="photo-relevants-slider">
      <div class="text">
        {{cloth.productInformation[index].title}}
        <br>
        <br>
        {{cloth.price}}
      </div></a>
    </div>

  </div>
</div>
