<div class="wrapper fade-in-down">
  <div id="formContent">


    <h2 class="active"> {{"sing-in"|transloco}} </h2>
    <button class="btn-login" (click)="openSingUpDialog()" value="Login" id="Sign up mobile button">
      <h2 class="inactive"> {{"sing-up"|transloco}}</h2>
    </button>


    <form [formGroup]="reactiveForm" id="Login form" >

      <div class="box-input">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>{{"login"|transloco}}</mat-label>
          <input matInput type="text" id="login" formControlName="login" minlength="4" maxlength="30">
        </mat-form-field>
        <div *ngIf="login?.invalid && (login?.dirty || login?.touched)"
             class="alert alert-danger">

          <div *ngIf="login?.errors?.['required']">
            {{"empty"|transloco}}
          </div>
          <div *ngIf="login?.errors?.['minlength']">
            {{"login"|transloco}}{{"symbols"|transloco}}
          </div>
        </div>

      </div>
      <div class="box-input">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>{{"password"|transloco}}</mat-label>
          <input matInput style="width: 90%" [type]="hide ? 'password' : 'text'" type="text" id="password" minlength="4"
                 formControlName="password" maxlength="30" placeholder="Пароль">

        </mat-form-field>

        <div *ngIf="password?.invalid && (password?.dirty || password?.touched)"
             class="alert alert-danger">

          <div *ngIf="password?.errors?.['required']">
            {{"empty"|transloco}}
          </div>


          <div *ngIf="password?.errors?.['minlength']">
            {{"password"|transloco}}{{"symbols"|transloco}}
          </div>
        </div>
      </div>

      <h4 *ngIf="errorMessage.localeCompare('')" class="errorColour" id="Incorrect login or password warning">
        {{"incorrect"|transloco}}</h4>


      <button class="btn" (click)="onSubmit()" id="Submit button">
        {{"login"|transloco}}
      </button>


    </form>

  </div>
</div>



