.submenu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 40%;
  z-index: 4;
  transform: translate(-50%, 20px);
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 3px 0;
width: 100%;
  background-color: white;
}

.topmenu > div:hover .submenu {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
}

li {
  padding: 0 2%;
  width: 50px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li a {
  padding: 0 5%;
}

.topmenu {
  width: 100%;
}

.down {
  border: none;
  background-color: white;
}

.down:hover {
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  .topmenu > div:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: translate(-30%, -125%);
  }
  .submenu{
    width: 50%;
  }
}
