.menu-btn {
  display: flex;
  align-items: flex-start;
  top: 0;
  right: 0;
  width: 26px;
  height: 27px;
  cursor: pointer;
  z-index: 1;

}

.burger-menu {
  display: flex;
  text-decoration: none;
}

.menu-btn > span::before,
.menu-btn > span::after {
  display: none;
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: #616161;
  transition-duration: .25s;
}

.menu-btn > span::before {
  content: '';
  top: -2px;
}

.menu-btn > span::after {
  content: '';
  top: 2px;
}

.menubox {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100%;
  margin: 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
  lign-items: flex-start;
  justify-content: center;
  padding-left: 2%;
}

.menu-item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}

.menu-item:hover {
  background-color: #CFD8DC;
}

#menu-toggle {
  opacity: 0;
}

#menu-toggle:checked ~ .menu-btn > span {
  transform: rotate(45deg);

}

#menu-toggle:checked ~ .menu-btn > span::before {
  top: 0;
  transform: rotate(0);
  display: block;
}

#menu-toggle:checked ~ .menu-btn > span::after {
  top: 0;
  transform: rotate(90deg);
  display: block;
}

#menu-toggle:checked ~ .menubox {
  visibility: visible;
  right: 0;
}

.button {
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;

}

.button:hover {
  color: white;
  background-color: #000000;
}

#menu-toggle:checked ~ .menu-btn > .button {
  display: none;
}

.menubox img {
  height: 200px;
  width: 130px;
  object-fit: cover;
  border-radius: 5px;
}

h1 {
  padding-top: 15px;
  font-size: 18px;
}

.menubox div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.menubox div ul li {
  list-style: none;
}

li a:hover {
  text-decoration: black;
}

.button-basket {
  padding-top: 5%;
  width: 60%;
  display: flex;
}

.button-basket a {
  width: 100%;
  border: 1px black solid;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18px;
}
.button-basket a:hover{
  background-color: black;
  color: white;
}
.button-basket a:hover p{color: white;}
.burger-menu-mobile {
  display: none;
}

@media screen and (max-width: 800px) {
  .menubox {
    width: 200px;
  }
}
