<div class="burger-menu">
  <input id="menu-toggle" type="checkbox"/>
  <label class="menu-btn" for="menu-toggle">
    <span></span>
    <div class="button">1</div>

  </label>

  <div class="menubox">
    <h1>Кошик</h1>
    <div>
      <div><img src="assets/photo-dress/photo1.jpg" alt=""></div>
      <div>
        <ul>
          <li> ПЛАТЬЕ ИЗ КРЕП -ШИФОНА</li>
          <br>
          <li>X</li>
          <br>
          <li>x1</li>
          <br>
          <li>5000 ₴</li>
          <br>
          <br>
          <li><a href=""> Видалити</a></li>

        </ul>
      </div>
    </div>
    <div class="button-basket">
      <a>
       <p>Оформити замовлення</p>
      </a>
    </div>
    </div>
  </div>

