<mat-dialog-content class="mat-typography">
  <form [formGroup]="reactiveForm">


    <div *ngIf="this.data; else elseBack">
      <H2>{{"change-product" | transloco}} </H2>
    </div>
    <ng-template #elseBack>
      <H2>{{"add-clothes" | transloco}}</H2>
    </ng-template>

    <mat-tab-group>
      <mat-tab label="{{'clothe'|transloco}}">

        <mat-tab-group>
          <mat-tab label="UA">
            <mat-form-field class="input-short" appearance="fill" style="margin-right: 50px" id="title_UA mat form field">
              <mat-label>{{'name'|transloco}}</mat-label>
              <input matInput type="text" id="title_UA input" formControlName="title_UA" maxlength="{{this.title_UA_MaxLength}}">
              <mat-hint align="end">{{this.reactiveForm.value.title_UA.length}}
                / {{this.title_UA_MaxLength}}</mat-hint>
            </mat-form-field>
            <mat-form-field class="input-long" appearance="fill" style="margin-right: 50px" id="compound_UA mat form field">
              <mat-label>{{'compound'|transloco}}</mat-label>
              <textarea matInput id="compound_UA input" formControlName="compound_UA"
                        maxlength="{{this.compound_UA_MaxLength}}"></textarea>
              <mat-hint align="end">{{this.reactiveForm.value.compound_UA.length}}
                / {{this.compound_UA_MaxLength}}</mat-hint>
            </mat-form-field>

            <mat-form-field class="input-long" appearance="fill">
              <mat-label>{{'content'|transloco}}</mat-label>
              <textarea matInput id="content_UA" formControlName="content_UA"
                        maxlength="{{this.content_UA_MaxLength}}"></textarea>
              <mat-hint align="end">{{this.reactiveForm.value.content_UA.length}}
                / {{this.content_UA_MaxLength}}</mat-hint>
            </mat-form-field>
          </mat-tab>


          <mat-tab label="EN">
            <mat-form-field class="input-short" appearance="fill" style="margin-right: 50px" id="title_EN mat form field">
              <mat-label>{{'name'|transloco}}</mat-label>
              <input matInput type="text" id="title_EN input" formControlName="title_EN" maxlength="{{this.title_EN_MaxLength}}">
              <mat-hint align="end">{{this.reactiveForm.value.title_EN.length}}
                / {{this.title_EN_MaxLength}}</mat-hint>
            </mat-form-field>

            <mat-form-field class="input-long" appearance="fill" style="margin-right: 50px" id="compound_EN mat form field">
              <mat-label>{{'compound'|transloco}}</mat-label>
              <textarea matInput id="compound_EN input" formControlName="compound_EN"
                        maxlength="{{this.compound_EN_MaxLength}}"></textarea>
              <mat-hint align="end">{{this.reactiveForm.value.compound_EN.length}}
                / {{this.compound_EN_MaxLength}}</mat-hint>
            </mat-form-field>

            <mat-form-field class="input-long" appearance="fill">
              <mat-label>{{'content'|transloco}}</mat-label>
              <textarea matInput id="content_EN" formControlName="content_EN"
                        maxlength="{{this.content_EN_MaxLength}}"></textarea>
              <mat-hint align="end">{{this.reactiveForm.value.content_EN.length}}
                / {{this.content_EN_MaxLength}}</mat-hint>
            </mat-form-field>
          </mat-tab>
        </mat-tab-group>

        <hr style="background-color:red;">

        <mat-form-field class="input-short" appearance="fill" style="margin-right: 50px">
          <mat-label>{{'availability'|transloco}}</mat-label>
          <mat-select id="availability" formControlName="availability" [value]="productAvailability">
            <mat-option id="No availability selected">None</mat-option>
            <mat-option *ngFor="let choice of availabilities" [value]="choice.availabilityNames[index].title"
                        id="availability mat option">{{choice.availabilityNames[index].title}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="input-short" appearance="fill" style="margin-right: 50px" id="price mat form field">
          <mat-label>{{'price'|transloco}}</mat-label>
          <input matInput type="text" id="price input" formControlName="price">

        </mat-form-field>


        <mat-form-field class="input-short" appearance="fill" style="margin-right: 50px">
          <mat-label>{{'size'|transloco}}</mat-label>
          <mat-select id="sizes" formControlName="sizes" multiple [value]="productSizes">

            <mat-option *ngFor="let choice of sizes" [value]="choice"
            >{{choice}}</mat-option>

          </mat-select>

        </mat-form-field>


        <mat-form-field class="input-short" appearance="fill" style="margin-right: 50px">
          <mat-label>{{'category'|transloco}}</mat-label>

          <mat-select id="categories" formControlName="categories" multiple [value]="productCategories">

            <mat-option *ngFor="let choice of categories" [value]="choice"
            >{{choice}}</mat-option>

          </mat-select>


        </mat-form-field>


        <mat-form-field class="input-short" appearance="fill" style="margin-right: 50px">
          <mat-label>{{'collection'|transloco}}</mat-label>

          <mat-select id="collection" formControlName="collection">
            <mat-option *ngFor="let choice of collection" [value]="choice.collectionNames[index].title"
                        id="collection mat option">{{choice.collectionNames[index].title}}</mat-option>

          </mat-select>


        </mat-form-field>


        <div>
          <input class="input-long" type="file" multiple placeholder="Select Files to be upload"
                 formControlName="images"
                 (change)=selectFile($event)>
        </div>


        <div style="width:500px;margin: 2%">
          <img *ngFor='let preview of previews' [src]="preview" style="width: 200px;margin: 2%">
        </div>






      </mat-tab>


      <mat-tab label="{{'change-order-delete-images'|transloco}}" *ngIf="this.data">
        <div cdkDropList (cdkDropListDropped)="onDrop($event)">
          <div style="display: flex;align-items: flex-end;" class="box"
               *ngFor="let item of data.clothes.image, index as i" cdkDrag>
            <p>{{i + 1}}</p>

            <img [src]="item.title" style="width: 100px;margin: 2%">

            <div style="display: flex">
              <button mat-icon-button>
                <div style="display: flex" (click)="delete(i)">
                  <div><img src="https://img.icons8.com/ios-glyphs/30/null/empty-trash--v1.png"/></div>
                </div>
              </button>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>


    <mat-dialog-actions>
      <button mat-button class="mat-raised-button" (click)="dialog.closeAll()" id="Cancel button">{{"close"|transloco}}</button>

      <button mat-button class="mat-raised-button mat-primary" (click)="onSubmit()" id="Submit button">{{"save"|transloco}}</button>

    </mat-dialog-actions>

  </form>
</mat-dialog-content>

