<body xmlns="http://www.w3.org/1999/html">
<mat-sidenav-container  [hasBackdrop]=true>
  <mat-sidenav-content   >


    <header class="container">
      <div class="menuh">
        <div class="menu1">
          <a routerLink="/market" class="menu__item">Магазин</a>
          <app-collection-menu></app-collection-menu>

          <a routerLink="/about" class="menu__item">Про нас</a>
        </div>
        <div class="menu2">
          <div class="box1"><a routerLink="/main-page">
            <img src="./assets/logo.svg" width="210" height="30" alt="image description"></a></div>
        </div>
        <div class="menu3">

          <div>

            <ul class="submenu-desktop">
              <li class="nav-item" *ngIf="showAdminBoard">
                <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
              </li>
              <li>
                <label class="nav-link" (click)="logout()" *ngIf="isLoggedIn">LogOut</label>
              </li>
            </ul>


          </div>


          <div *ngIf="!isLoggedIn">
            <button (click)="openSingUpDialog()" style="border: none" value="Login"
                    id="Sign up button">
              Рєстрація
            </button>
          </div>


          <div style="padding-left: 2%;padding-right: 2%" *ngIf="!isLoggedIn">
            <button (click)="openLoginDialog()" style="border: none;" value="Login"
                    id="Sign in button">
              Вхід
            </button>
          </div>


          <app-convertor></app-convertor>
          <app-clothes-search class="menu__item"></app-clothes-search>

          <button class="button-active" mat-icon-button (click)="sidenavBasket.toggle()" >
            <mat-icon><mat-icon>shopping_basket</mat-icon></mat-icon>
          </button>


        </div>
      </div>

      <div class="mobile-header">

        <button class="button-active" mat-icon-button (click)="sidenavMenu.toggle()" >
          <mat-icon>menu</mat-icon>
        </button>

        <div class="head"><a routerLink="/main-page"><img src="./assets/logo.svg" width="210" height="30"
                                                          alt="image description" class="logo2"></a>
        </div>


        <div>

          <button class="button-active" mat-icon-button (click)="sidenavBasket.toggle()" >
            <mat-icon><mat-icon>shopping_basket</mat-icon></mat-icon>
          </button>
        </div>
      </div>


    </header>




    <div class="contat">
      <router-outlet></router-outlet>

      <button mat-button class="fabAddClothesStyle" (click)="openDialog()" *ngIf="showAdminBoard">Add clothes</button>
      <footer style="padding: 0 2%;">
        <br>
        <a href="https://www.instagram.com/">Instagram</a>
        <br>
        <a href="https://www.instagram.com/">Обране</a>
        <br>
        <a href="https://www.instagram.com/">Контакти</a>
        <br>
        <br>
        © 2022
      </footer>

    </div>

  </mat-sidenav-content>

  <mat-sidenav #sidenavMenu>
    <mat-nav-list style="display: flex;flex-direction:column;">
      <button class="button-active" mat-icon-button (click)="sidenavMenu.toggle()" >
        <mat-icon>menu</mat-icon>
      </button>

      <div style="display: flex; flex-direction: column;flex-wrap: nowrap;">

        <div class="menu1">
          <a routerLink="/market" class="menu__item">Магазин</a>

          <app-collection-menu></app-collection-menu>


          <a routerLink="/about" class="menu__item">Про нас</a>
        </div>


        <div class="menu3">


          <app-clothes-search></app-clothes-search>


          <app-convertor></app-convertor>


          <div class="auth-mobile">
            <div>
              <button class="down"><img src="https://shklar-images.s3.eu-central-1.amazonaws.com/auth-icon.png">
              </button>
              <div class="menusub-mobile"></div>
              <ul class="submenu-mobile" routerLinkActive="active">
                <li class="nav-item" *ngIf="showAdminBoard">
                  <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
                </li>

                <li>
                  <label class="nav-link" (click)="logout()" *ngIf="isLoggedIn">LogOut</label>
                </li>
                <li>
                  <div *ngIf="!isLoggedIn">
                    <button (click)="openSingUpDialog()" style="border: none" value="Login"
                            id="Sign up mobile button">
                      Рєстрація
                    </button>
                  </div>

                </li>
                <div style="padding-left: 2%" *ngIf="!isLoggedIn">
                  <button (click)="openLoginDialog()" style="border: none;" value="Login"
                          id="Sign in mobile button">
                    Вхід
                  </button>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <br class="br">
      <div class="downf">
        <a class="footerpage1"
           href="https://www.instagram.com/alexandrashklyar_store/?igshid=YmMyMTA2M2Y%3D">Instagram</a>

        <a class="footerpage1" href="https://www.instagram.com/">Обране</a>
        <a class="footerpage1" href="https://www.instagram.com/">Контакти</a>
        <br class="br">

        <div class="footerpage1">© 2022</div>

      </div>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav #sidenavBasket position="end">
    <mat-nav-list style="display: flex;flex-direction:column;">
      <app-basket></app-basket>

    </mat-nav-list>
  </mat-sidenav>


  <app-messages></app-messages>


</mat-sidenav-container>

</body>

