<section id="slider_bl">
  <div class="wrapper">
    <input checked type=radio name="slider" id="slide1"/>
    <input type=radio name="slider" id="slide2"/>
    <input type=radio name="slider" id="slide3"/>
    <input type=radio name="slider" id="slide4"/>
    <input type=radio name="slider" id="slide5"/>
    <div class="slider-wrapper">
      <div class=inner>
        <article>
          <div>
            <div class="info bottom">
              <div><a href="http://localhost:4200/photo/detail/1">Shop</a>
              </div>
            </div>
            <img src="assets/photo-main-carousel/photo1.jpg"/></div>
        </article>
        <article>
          <div>
            <div class="info bottom">
              <div><a href="http://localhost:4200/photo/detail/2" class="bottom">Shop</a>
              </div>
            </div>
            <img src="assets/photo-main-carousel/photo3.jpg"/></div>
        </article>
        <article>
          <div>
            <div class="info bottom">
              <div><a href="http://localhost:4200/photo/detail/2">Shop</a>
              </div>
            </div>
            <img src="assets/photo-main-carousel/photo5.jpg"/></div>
        </article>
        <article>
          <div>
            <div class="info bottom">
              <div><a href="http://localhost:4200/photo/detail/3">Shop</a>
              </div>
            </div>
            <img src="assets/photo-main-carousel/photo7.jpg"/></div>
        </article>
        <article>
          <div>
            <div class="info bottom">
              <div><a href="http://localhost:4200/photo/detail/3">Shop</a>
              </div>
            </div>
            <img src="assets/photo-main-carousel/photo9.jpg"/></div>
        </article>
      </div>
    </div>
    <div class="slider-prev-next-control">
      <label for=slide1></label>
      <label for=slide2></label>
      <label for=slide3></label>
      <label for=slide4></label>
      <label for=slide5></label>
    </div>
    <div class="slider-dot-control">
      <label for=slide1></label>
      <label for=slide2></label>
      <label for=slide3></label>
      <label for=slide4></label>
      <label for=slide5></label>
    </div>
  </div>
</section>

<div class="slperekhodnik">

  <aside class="gablok_sedakoda">
    <div class="slayder_karusel">
      <figure><img src="assets/photo-main-carousel/photo1.jpg" alt=""><figcaption><a href="http://localhost:4200/photo/detail/1">Shop</a></figcaption></figure>
      <figure><img src="assets/photo-main-carousel/photo3.jpg" alt=""><figcaption><a href="http://localhost:4200/photo/detail/2">Shop</a></figcaption></figure>
      <figure><img src="assets/photo-main-carousel/photo5.jpg" alt=""><figcaption><a href="http://localhost:4200/photo/detail/3">Shop</a></figcaption></figure>
      <figure><img src="assets/photo-main-carousel/photo7.jpg" alt=""><figcaption><a href="http://localhost:4200/photo/detail/4">Shop</a></figcaption></figure>
      <figure><img src="assets/photo-main-carousel/photo9.jpg" alt=""><figcaption><a href="http://localhost:4200/photo/detail/5">Shop</a></figcaption></figure>
    </div>
  </aside>

</div>
