<app-carousel-main></app-carousel-main>
<div class="main-page__body">
  <h2>Останні надходження</h2>
  <div class="main-menu">
      <a *ngFor="let clothe of clothes "
         routerLink="/detail/{{clothe.id}}">
        <div>
          <img class="image first" src="{{clothe.image[0].title}}" alt="photo" >
          <img class="image second" src="{{clothe.image[1].title}}" alt="photo">
        </div>
        {{clothe.title}}
        <br>
        <br>
        {{clothe.price}}
      </a>
    </div>

  </div>

