.main-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
  padding: 0 90px;
  background-position:center center;
  background-repeat:no-repeat;
  margin:0;
  flex-wrap: wrap;

}
.image.first,.image.second {
  border:2px solid transparent;
  margin:0;
  padding:0;
}

.image.first {
  opacity:1;
  display:block;
  position:absolute;
  z-index:100;
  transition-duration:0.96s;
  -webkit-transition-duration:0.96s;
  -moz-transition-duration:0.96s;
  -o-transition-duration:0.96s;
  -ms-transition-duration:0.96s;
}

.image.first:hover {
  opacity:0.00;
}


a div{
  animation: 4s show ease;
}
@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}
a {
  border-radius: 2px;
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
  text-align: left;
  min-width: 300px;
  margin: .5rem auto;
  box-sizing: border-box;
  /* flexbox */
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  height: 500px;
  width: 300px;
  padding-bottom: 30px;
}

div .pad {
  color: #000000;
  font-weight: 300;
  font-family: 'FuturaPT',Arial,sans-serif;
  font-size: 14px;
  line-height: 1;
  padding: 0 50px;
}

.main-menu a img {
  height: 400px;
  width: 100%;
  max-width: 280px; /* Максимальная ширина картинки */
  /* Минимальная высота картинки */
  object-fit: cover; /**/
}
@media screen and (max-width: 800px){
  .main-menu a img{
    object-fit: cover ;
  }
  .main-menu{
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  a{
    margin: 0;
    font-size: 13px;
  }
  .image.first,.image.second{

    object-fit: cover ;
  }
  div{
    font-size: 13px;
  }
}


