/* BASIC */

.example-full-width {
  width: 100%;
}

html {
  background-color: #56baed;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

a {
  color: #92badd;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 40px 8px 10px 8px;
  color: #cccccc;
}


/* STRUCTURE */


#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  margin: -24px;
  max-width: 450px;
  position: relative;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #3f51b5;
}

 .btn {
  display: block;
  left: 0;
  bottom: -10px;
  width: 130px;
  height: 40px;
  background-color: #ffffff;
  content: "";
  transition: width 0.2s;

  border-radius: 15px;
}




/* OTHERS */

*:focus {
  outline: none;
}

#icon {
  width: 60%;
}

* {
  box-sizing: border-box;
}

.mat-form-field-flex.ng-tns-c100-2 {
  width: 85%;
}

.box-input {
  width: 180px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center
}

.btn-login {
  border: none;
}
