<div class="wrapper fade-in-down">
  <div id="formContent">

    <button class="btn-login" (click)="openLoginDialog()" value="Login" id="Sign up mobile button">
      <h2 class="inactive"> {{"sing-in"|transloco}}</h2>
    </button>
    <h2 class="active">{{"sing-up"|transloco}} </h2>


    <form [formGroup]="reactiveForm" id="Login form" >

      <div class="box-input">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>{{"login"|transloco}}</mat-label>
          <input matInput type="text" id="login" formControlName="login" minlength="4" maxlength="30">
        </mat-form-field>
        <div *ngIf="login?.invalid && (login?.dirty || login?.touched)"
             class="alert alert-danger">

          <div *ngIf="login?.errors?.['required']">
            {{"empty"|transloco}}
          </div>
          <div *ngIf="login?.errors?.['minlength']">
            {{"login"|transloco}}{{"symbols"|transloco}}
          </div>
        </div>


      </div>

      <div class="box-input">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>{{"email"|transloco}}</mat-label>
          <input matInput type="text" id="email" formControlName="email" maxlength="30" minlength="4"
                 placeholder="pat@example.com">

        </mat-form-field>
        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)"
             class="alert alert-danger">

          <div *ngIf="email?.errors?.['required']">
            {{"empty"|transloco}}
          </div>


          <div *ngIf="email?.errors?.['minlength']">
            {{"email"|transloco}}{{"symbols"|transloco}}
          </div>
        </div>
      </div>

      <div class="box-input">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>{{"password"|transloco}}</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" type="text" id="password" formControlName="password"
                 minlength="4" maxlength="30" placeholder="Пароль">
        </mat-form-field>
        <div *ngIf="password?.invalid && (password?.dirty || password?.touched)"
             class="alert alert-danger">

          <div *ngIf="password?.errors?.['required']">
            {{"empty"|transloco}}
          </div>


          <div *ngIf="password?.errors?.['minlength']">
            {{"password"|transloco}}{{"symbols"|transloco}}
          </div>
        </div>


      </div>

      <h4 *ngIf="errorMessage.localeCompare('')" class="errorColour" id="Incorrect login or password warning">
        {{"incorrect"|transloco}}</h4>


      <button class="btn" (click)="onSubmit()" id="Submit button">
        {{"sing-up"|transloco}}
      </button>


    </form>
  </div>
</div>



