<app-carousel-main></app-carousel-main>
<div class="pad">
  <h2>Останні надходження</h2>
  <div class="heroes-menu">
    <div class=ImgField >

      <a *ngFor="let hero of heroes"
         routerLink="/detail/{{hero.id}}">
        <div>
        <img class="image first" src="{{hero.img[0]}}" alt="photo" >
        <img class="image second" src="{{hero.img[1]}}" alt="photo">
        </div>
        {{hero.name}}
        <br>
        <br>
        {{hero.price}}
      </a>
    </div>
  </div>
</div>
