<div *ngIf="showAdminBoard" class="buttons">

  <button mat-button color="primary"
          (click)="this.changeClothesBtn()"
          class="fabButton"
          id="change clothe button"
          style="max-height: 40px">
    Змінити одяг
  </button>

  <button *ngIf="clothes != undefined" mat-button color="primary"
          (click)="deleteClothesBtn(clothes)"
          class="fabButton"

          id="{{'delete '+clothes.title}}"
          style="max-height: 40px">
    Видалити одяг
  </button>

</div>
<div *ngIf="clothes" class="padd" xmlns="">

  <div class="img-slider">
<app-image-slider ></app-image-slider>
  </div>

  <div class="text">
    <p>{{clothes.title }}</p>
    {{clothes.price}}
    <br>
    {{clothes.availability}}
    <br>


    <div class="choice">
      <label *ngFor="let cloth of clothes.size"><input type="radio" name="r" checked><span>{{cloth.title}}</span></label>
    </div>
    <div class="botton-buy">
      <label>
        <input type="radio" name="buy" checked><span>Купити</span>
      </label>
    </div>
    <br>
    {{clothes.content}}
    <br>
    <br>
    Склад:
    <br>
    {{clothes.compound}}
    <br>
    <br>
    РОЗМІРНА СІТКА:
    <br>
    S | ОГ 80-90| ОС 80-90 | ОТ 66
    <br>
    M | ОГ 91-95| ОС 89-96 | ОТ 70
    <br>
    L | ОГ 96-100| ОС 97-104 | ОТ 76
    <br>
    ОГ-обєм грудини
    <br>
    ОС-обєм стегон
    <br>
    ОБ-обєм талії
    <br>
    <br>
    Догляд:
    <br>
    Делікатне прання при температурі не вище 30 градусів
  </div>


</div>
<app-relevants ></app-relevants>
